body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: hsl(193, 79%, 70%);
    min-width: 375px;
    max-width: 1440px;
}

main {
    margin: auto;
    max-width: 1440px;
}

h1 {
    text-align: center;
    font-size: 48px;
    text-decoration: underline;
}

#taskInput {
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 20px;
    margin: auto 10px;
}

#addTask {
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin: auto 10px auto 5px;
}

div {
    white-space: wrap;
    background-color: hsl(54, 64%, 90%);
    margin-left: 10px;
    margin-right: 5px;
    max-width: 90%;
    align-self: center;
}

.checkbox {
    margin-left: 30px;
    text-align: right;
    width: 20px;
    height: 20px;
}

ul {
    word-wrap: break-word;
    white-space: wrap;
    list-style: square;
    padding: 0 auto auto 5px;
    margin-left: 5px;
    margin-right: 10px;
}

li {
    text-align: left;
    margin-bottom: 10px;
    font-size: 25px;
    padding: auto 5px auto 10px;
}

.completed {
    text-decoration: line-through;
}

.removeTask {
    width: 40px;
    height: 40px;
    margin: 5px 10px 0 20px;
    padding: 5px 5px 10px 5px;
    background-color: hsl(0, 100%, 33%);
}